<form class="form-horizontal col-xs-6 col-md-offset-3" method="post">
    <h2 class = "col-md-offset-1">NEW MESSAGE</h2>
    <div class="form-group">
        <label for="inputTo" class="control-label col-xs-2">To</label>
        <div class="col-xs-8">
            <select name="to" class="form-control">
                {{#each session.friends}}
                    <option value="{{this.to.email}}">{{this.to.email}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputTitle" class="control-label col-xs-2">Title</label>
        <div class="col-xs-8">
            <input name="title" type="text" class="form-control" id="inputTitle" placeholder="Title">
        </div>
    </div>
    <div class="form-group">
        <label for="inputContent" class="control-label col-xs-2">Text</label>
        <div class="col-xs-8">
            <textarea name="content" type="text" class="form-control" id="inputContent" placeholder="Your message"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-4 col-xs-10">
            <button type="submit" class="btn btn-success">Submit</button>
            <a class="btn btn-success" href="/">Back</a>
        </div>
    </div>
</form>